{
  "semi": true,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": true,
        "tabWidth": 4,
        "printWidth": 120
      }
    },
    {
      "files": "*.css",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.html",
      "options": {
        "semi": true,
        "tabWidth": 4,
        "printWidth": 120
      }
    }
  ]
}
